.login-background {
    background-image: url('https://images.shiksha.com/mediadata/images/1695813984phpzgd6M3.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
  }
  
  .logo {
    margin-bottom: 20px;
    width: 100px;
    height: auto;
  }
  
  .text-white {
    color: white;
  }
  